<a href="https://colab.research.google.com/github/ricardocarreras/Bootcamp_DataScience_student/blob/master/competici%C3%B3n_tokio.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
 # entorno Kaggle, imstalar libreria kaggle

 !pip install kaggle -q

In [2]:
#actualizar la libreria

!pip install kaggle --upgrade -q

In [12]:
#comprobar que funciona el comando "kaggle" 

!kaggle

Traceback (most recent call last):
  File "/usr/local/bin/kaggle", line 5, in <module>
    from kaggle.cli import main
  File "/usr/local/lib/python3.7/dist-packages/kaggle/__init__.py", line 23, in <module>
    api.authenticate()
  File "/usr/local/lib/python3.7/dist-packages/kaggle/api/kaggle_api_extended.py", line 166, in authenticate
    self.config_file, self.config_dir))
OSError: Could not find kaggle.json. Make sure it's located in /root/.kaggle. Or use the environment method.

In [11]:
/kaggle.json

NameError: ignored

In [ ]:
#subimos fichero kaggle.json a nuestro entorno

In [13]:
from google.colab import files

In [14]:
files.upload()

Saving kaggle (1).json to kaggle (1).json

{'kaggle (1).json': b'{"username":"ricardocarreras","key":"f0091a52587a1c5ba34a3227d9444ec0"}'}

In [15]:
#creamos carpeta oculta 

!mkdir -p ~/.kaggle

In [16]:
# copiamos el fichero 

!cp /content/kaggle.json ~/.kaggle/

!chmod 600/root/.kaggle/kaggle.json

chmod: missing operand after ‘600/root/.kaggle/kaggle.json’
Try 'chmod --help' for more information.

In [17]:

#comprobad que está el fichero y funciona

!ls ~/.kaggle/

kaggle.json

In [18]:
#comprobar comando 

!kaggle

Warning: Your Kaggle API key is readable by other users on this system! To fix this, you can run 'chmod 600 /root/.kaggle/kaggle.json'
usage: kaggle [-h] [-v] {competitions,c,datasets,d,kernels,k,config} ...
kaggle: error: the following arguments are required: command

In [20]:
# probar a descargar dataset 

!kaggle competitions download -c jpx-tokyo-stock-exchange-prediction

Warning: Your Kaggle API key is readable by other users on this system! To fix this, you can run 'chmod 600 /root/.kaggle/kaggle.json'
Downloading jpx-tokyo-stock-exchange-prediction.zip to /content
 97% 226M/233M [00:01<00:00, 135MB/s]
100% 233M/233M [00:01<00:00, 151MB/s]

In [21]:
# para descomprimir 

!unzip -q jpx-tokyo-stock-exchange-prediction -d .
!ls

 data_specifications			   kaggle.json
 example_test_files			   sample_data
 jpx_tokyo_market_prediction		   stock_list.csv
 jpx-tokyo-stock-exchange-prediction.zip   supplemental_files
'kaggle (1).json'			   train_files

In [22]:
import pandas as pd

In [24]:
jap_stocks=pd.read_csv('/content/stock_list.csv')

In [25]:
jap_stocks.head(3)

,SecuritiesCode,EffectiveDate,Name,Section/Products,NewMarketSegment,33SectorCode,33SectorName,17SectorCode,17SectorName,NewIndexSeriesSizeCode,NewIndexSeriesSize,TradeDate,Close,IssuedShares,MarketCapitalization,Universe0
0,1301,20211230,"KYOKUYO CO.,LTD.",First Section (Domestic),Prime Market,50,"Fishery, Agriculture and Forestry",1,FOODS,7,TOPIX Small 2,20211230.0,3080.0,1.092828e+07,3.365911e+10,True
1,1305,20211230,Daiwa ETF-TOPIX,ETFs/ ETNs,NaN,-,-,-,-,-,-,20211230.0,2097.0,3.634636e+09,7.621831e+12,False
2,1306,20211230,NEXT FUNDS TOPIX Exchange Traded Fund,ETFs/ ETNs,NaN,-,-,-,-,-,-,20211230.0,2073.5,7.917718e+09,1.641739e+13,False

In [26]:
jap_stocks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4417 entries, 0 to 4416
Data columns (total 16 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   SecuritiesCode          4417 non-null   int64
 1   EffectiveDate           4417 non-null   int64
 2   Name                    4417 non-null   object
 3   Section/Products        4417 non-null   object
 4   NewMarketSegment        3772 non-null   object
 5   33SectorCode            4417 non-null   object
 6   33SectorName            4417 non-null   object
 7   17SectorCode            4417 non-null   object
 8   17SectorName            4417 non-null   object
 9   NewIndexSeriesSizeCode  4417 non-null   object
 10  NewIndexSeriesSize      4417 non-null   object
 11  TradeDate               4121 non-null   float64
 12  Close                   4121 non-null   float64
 13  IssuedShares            4121 non-null   float64
 14  MarketCapitalization    4121 non-null   float64
 15  Universe0               4417 non-null   bool
dtypes: bool(1), float64(4), int64(2), object(9)
memory usage: 522.1+ KB

In [ ]:
datos_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [ ]:
datos_test=pd.read_csv('/content/test.csv')

In [ ]:
datos_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    object
 4   Age          332 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    object
 8   Fare         417 non-null    float64
 9   Cabin        91 non-null     object
 10  Embarked     418 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB