<a href="https://colab.research.google.com/github/ricardocarreras/Bootcamp_DataScience_student/blob/master/musical1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [28]:
archivo="/content/tracks_norm2.csv"

datos=pd.read_csv(archivo, sep=";")

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [41]:

datos = datos.rename(columns={"name":"track name"})

In [43]:
datos.describe()

             number   disc_number  ...   duration_ms  time_signature
count  35574.000000  35574.000000  ...  3.556700e+04    35567.000000
mean       8.767386      1.154973  ...  2.286956e+05        3.836393
std        6.179290      0.485318  ...  1.197261e+05        0.552048
min        1.000000      1.000000  ...  4.000000e+03        0.000000
25%        4.000000      1.000000  ...  1.630130e+05        4.000000
50%        8.000000      1.000000  ...  2.136270e+05        4.000000
75%       12.000000      1.000000  ...  2.716665e+05        4.000000
max       50.000000      6.000000  ...  4.738853e+06        5.000000

[8 rows x 11 columns]

In [39]:
datos.head(3)

                                 artist_id  ... time_signature
0  ar-e15c4eb7-7cbf-40e3-9575-fe14e8273177  ...            4.0
1  ar-e15c4eb7-7cbf-40e3-9575-fe14e8273177  ...            4.0
2  ar-e15c4eb7-7cbf-40e3-9575-fe14e8273177  ...            3.0

[3 rows x 22 columns]

In [22]:
archivo="/content/albums_norm.csv"

datos2=pd.read_csv(archivo, sep=";")

In [23]:
datos2.head(3)

                                 artist_id  ... total_tracks
0  ar-e15c4eb7-7cbf-40e3-9575-fe14e8273177  ...           11
1  ar-e15c4eb7-7cbf-40e3-9575-fe14e8273177  ...           14
2  ar-e15c4eb7-7cbf-40e3-9575-fe14e8273177  ...           12

[3 rows x 7 columns]

In [44]:
datos2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2135 entries, 0 to 2134
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   artist_id     2135 non-null   object
 1   album_id      2135 non-null   object
 2   album_sp_id   2135 non-null   object
 3   name          2135 non-null   object
 4   popularity    2135 non-null   int64
 5   release_year  2135 non-null   int64
 6   total_tracks  2135 non-null   int64
dtypes: int64(3), object(4)
memory usage: 116.9+ KB

In [46]:
desnormalizada= pd.merge(datos, datos2, on="album_id", how='outer')

In [49]:
desnormalizada.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 35574 entries, 0 to 35573
Data columns (total 28 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   artist_id_x       35574 non-null  object
 1   album_id          35574 non-null  object
 2   track_id          35574 non-null  object
 3   track_sp_id       35574 non-null  object
 4   track name        35574 non-null  object
 5   number            35574 non-null  int64
 6   disc_number       35574 non-null  int64
 7   popularity_x      35186 non-null  float64
 8   preview_url       23218 non-null  object
 9   danceability      35567 non-null  float64
 10  energy            35567 non-null  object
 11  key               35567 non-null  float64
 12  loudness          35567 non-null  object
 13  mode              35567 non-null  float64
 14  speechiness       35567 non-null  float64
 15  acousticness      35567 non-null  object
 16  instrumentalness  35567 non-null  object
 17  liveness          35567 non-null  float64
 18  valence           35567 non-null  float64
 19  tempo             35567 non-null  object
 20  duration_ms       35567 non-null  float64
 21  time_signature    35567 non-null  float64
 22  artist_id_y       35574 non-null  object
 23  album_sp_id       35574 non-null  object
 24  name              35574 non-null  object
 25  popularity_y      35574 non-null  int64
 26  release_year      35574 non-null  int64
 27  total_tracks      35574 non-null  int64
dtypes: float64(9), int64(5), object(14)
memory usage: 7.9+ MB

In [53]:
archivo="/content/artists_norm.csv"

datos3=pd.read_csv(archivo, sep=";")

In [54]:
datos3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68 entries, 0 to 67
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   artist_id     68 non-null     object
 1   artist_sp_id  68 non-null     object
 2   name          68 non-null     object
 3   popularity    68 non-null     int64
 4   followers     68 non-null     int64
 5   total_albums  68 non-null     int64
dtypes: int64(3), object(3)
memory usage: 3.3+ KB

In [51]:
desnormalizada.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 35574 entries, 0 to 35573
Data columns (total 28 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   artist_id_x       35574 non-null  object
 1   album_id          35574 non-null  object
 2   track_id          35574 non-null  object
 3   track_sp_id       35574 non-null  object
 4   track name        35574 non-null  object
 5   number            35574 non-null  int64
 6   disc_number       35574 non-null  int64
 7   popularity_x      35186 non-null  float64
 8   preview_url       23218 non-null  object
 9   danceability      35567 non-null  float64
 10  energy            35567 non-null  object
 11  key               35567 non-null  float64
 12  loudness          35567 non-null  object
 13  mode              35567 non-null  float64
 14  speechiness       35567 non-null  float64
 15  acousticness      35567 non-null  object
 16  instrumentalness  35567 non-null  object
 17  liveness          35567 non-null  float64
 18  valence           35567 non-null  float64
 19  tempo             35567 non-null  object
 20  duration_ms       35567 non-null  float64
 21  time_signature    35567 non-null  float64
 22  artist_id_y       35574 non-null  object
 23  album_sp_id       35574 non-null  object
 24  name              35574 non-null  object
 25  popularity_y      35574 non-null  int64
 26  release_year      35574 non-null  int64
 27  total_tracks      35574 non-null  int64
dtypes: float64(9), int64(5), object(14)
memory usage: 7.9+ MB

In [55]:
desnormalizada = desnormalizada.rename(columns={"artist_id_x":"artist_id"})

In [56]:
desnormalizadafinal=pd.merge(desnormalizada, datos3, on="artist_id")

In [57]:
desnormalizadafinal.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 35574 entries, 0 to 35573
Data columns (total 33 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   artist_id         35574 non-null  object
 1   album_id          35574 non-null  object
 2   track_id          35574 non-null  object
 3   track_sp_id       35574 non-null  object
 4   track name        35574 non-null  object
 5   number            35574 non-null  int64
 6   disc_number       35574 non-null  int64
 7   popularity_x      35186 non-null  float64
 8   preview_url       23218 non-null  object
 9   danceability      35567 non-null  float64
 10  energy            35567 non-null  object
 11  key               35567 non-null  float64
 12  loudness          35567 non-null  object
 13  mode              35567 non-null  float64
 14  speechiness       35567 non-null  float64
 15  acousticness      35567 non-null  object
 16  instrumentalness  35567 non-null  object
 17  liveness          35567 non-null  float64
 18  valence           35567 non-null  float64
 19  tempo             35567 non-null  object
 20  duration_ms       35567 non-null  float64
 21  time_signature    35567 non-null  float64
 22  artist_id_y       35574 non-null  object
 23  album_sp_id       35574 non-null  object
 24  name_x            35574 non-null  object
 25  popularity_y      35574 non-null  int64
 26  release_year      35574 non-null  int64
 27  total_tracks      35574 non-null  int64
 28  artist_sp_id      35574 non-null  object
 29  name_y            35574 non-null  object
 30  popularity        35574 non-null  int64
 31  followers         35574 non-null  int64
 32  total_albums      35574 non-null  int64
dtypes: float64(9), int64(8), object(16)
memory usage: 9.2+ MB

In [58]:
desnormalizadafinal.describe()

             number   disc_number  ...     followers  total_albums
count  35574.000000  35574.000000  ...  3.557400e+04  35574.000000
mean       8.767386      1.154973  ...  7.217283e+06    175.300275
std        6.179290      0.485318  ...  1.182933e+07    199.087681
min        1.000000      1.000000  ...  3.321900e+04      2.000000
25%        4.000000      1.000000  ...  8.339150e+05     30.000000
50%        8.000000      1.000000  ...  2.377897e+06     66.000000
75%       12.000000      1.000000  ...  6.816908e+06    505.000000
max       50.000000      6.000000  ...  8.703106e+07    505.000000

[8 rows x 17 columns]