<a href="https://colab.research.google.com/github/ricardocarreras/Bootcamp_DataScience_student/blob/master/tarea1musical.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import os
import zipfile
  
with zipfile.ZipFile("data.zip") as z: 
   
  with z.open("tracks_norm.csv") as a:

    datos = pd.read_csv(a, sep=";") 

  with z.open("albums_norm.csv") as b: 

    datos2=pd.read_csv(b, sep=";") 

  with z.open("artists_norm.csv") as c:
              
    datos3=pd.read_csv(c, sep=";")

In [2]:

datos = datos.rename(columns={"name":"track name"})

In [3]:
datos.describe()

             number   disc_number  ...   duration_ms  time_signature
count  35574.000000  35574.000000  ...  3.556700e+04    35567.000000
mean       8.767386      1.154973  ...  2.286956e+05        3.836393
std        6.179290      0.485318  ...  1.197261e+05        0.552048
min        1.000000      1.000000  ...  4.000000e+03        0.000000
25%        4.000000      1.000000  ...  1.630130e+05        4.000000
50%        8.000000      1.000000  ...  2.136270e+05        4.000000
75%       12.000000      1.000000  ...  2.716665e+05        4.000000
max       50.000000      6.000000  ...  4.738853e+06        5.000000

[8 rows x 16 columns]

In [4]:
datos2.describe()

        popularity  release_year  total_tracks
count  2135.000000   2135.000000   2135.000000
mean     34.540515   1999.149415     17.384075
std      22.601539     17.977276     13.257826
min       0.000000   1925.000000      1.000000
25%      14.000000   1987.000000     12.000000
50%      35.000000   2004.000000     15.000000
75%      52.000000   2014.000000     20.000000
max     100.000000   2021.000000    256.000000

In [5]:
datos3.describe()

       popularity     followers  total_albums
count   68.000000  6.800000e+01     68.000000
mean    76.867647  1.117926e+07     31.397059
std     11.251407  1.614711e+07     64.748455
min     47.000000  3.321900e+04      2.000000
25%     68.750000  1.360215e+06      9.000000
50%     79.500000  4.431704e+06     15.000000
75%     84.000000  1.298759e+07     32.250000
max    100.000000  8.703106e+07    505.000000

In [6]:
datos2.head(3)

                                 artist_id  ... total_tracks
0  ar-e15c4eb7-7cbf-40e3-9575-fe14e8273177  ...           11
1  ar-e15c4eb7-7cbf-40e3-9575-fe14e8273177  ...           14
2  ar-e15c4eb7-7cbf-40e3-9575-fe14e8273177  ...           12

[3 rows x 7 columns]

In [7]:
datos2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2135 entries, 0 to 2134
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   artist_id     2135 non-null   object
 1   album_id      2135 non-null   object
 2   album_sp_id   2135 non-null   object
 3   name          2135 non-null   object
 4   popularity    2135 non-null   int64
 5   release_year  2135 non-null   int64
 6   total_tracks  2135 non-null   int64
dtypes: int64(3), object(4)
memory usage: 116.9+ KB

In [8]:
desnormalizada= pd.merge(datos, datos2, on="album_id", how='outer')

In [9]:
desnormalizada.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 35574 entries, 0 to 35573
Data columns (total 28 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   artist_id_x       35574 non-null  object
 1   album_id          35574 non-null  object
 2   track_id          35574 non-null  object
 3   track_sp_id       35574 non-null  object
 4   track name        35574 non-null  object
 5   number            35574 non-null  int64
 6   disc_number       35574 non-null  int64
 7   popularity_x      35186 non-null  float64
 8   preview_url       23218 non-null  object
 9   danceability      35567 non-null  float64
 10  energy            35567 non-null  float64
 11  key               35567 non-null  float64
 12  loudness          35567 non-null  float64
 13  mode              35567 non-null  float64
 14  speechiness       35567 non-null  float64
 15  acousticness      35567 non-null  float64
 16  instrumentalness  35567 non-null  float64
 17  liveness          35567 non-null  float64
 18  valence           35567 non-null  float64
 19  tempo             35567 non-null  float64
 20  duration_ms       35567 non-null  float64
 21  time_signature    35567 non-null  float64
 22  artist_id_y       35574 non-null  object
 23  album_sp_id       35574 non-null  object
 24  name              35574 non-null  object
 25  popularity_y      35574 non-null  int64
 26  release_year      35574 non-null  int64
 27  total_tracks      35574 non-null  int64
dtypes: float64(14), int64(5), object(9)
memory usage: 7.9+ MB

In [10]:
datos3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68 entries, 0 to 67
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   artist_id     68 non-null     object
 1   artist_sp_id  68 non-null     object
 2   name          68 non-null     object
 3   popularity    68 non-null     int64
 4   followers     68 non-null     int64
 5   total_albums  68 non-null     int64
dtypes: int64(3), object(3)
memory usage: 3.3+ KB

In [11]:
desnormalizada.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 35574 entries, 0 to 35573
Data columns (total 28 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   artist_id_x       35574 non-null  object
 1   album_id          35574 non-null  object
 2   track_id          35574 non-null  object
 3   track_sp_id       35574 non-null  object
 4   track name        35574 non-null  object
 5   number            35574 non-null  int64
 6   disc_number       35574 non-null  int64
 7   popularity_x      35186 non-null  float64
 8   preview_url       23218 non-null  object
 9   danceability      35567 non-null  float64
 10  energy            35567 non-null  float64
 11  key               35567 non-null  float64
 12  loudness          35567 non-null  float64
 13  mode              35567 non-null  float64
 14  speechiness       35567 non-null  float64
 15  acousticness      35567 non-null  float64
 16  instrumentalness  35567 non-null  float64
 17  liveness          35567 non-null  float64
 18  valence           35567 non-null  float64
 19  tempo             35567 non-null  float64
 20  duration_ms       35567 non-null  float64
 21  time_signature    35567 non-null  float64
 22  artist_id_y       35574 non-null  object
 23  album_sp_id       35574 non-null  object
 24  name              35574 non-null  object
 25  popularity_y      35574 non-null  int64
 26  release_year      35574 non-null  int64
 27  total_tracks      35574 non-null  int64
dtypes: float64(14), int64(5), object(9)
memory usage: 7.9+ MB

In [12]:
desnormalizada = desnormalizada.rename(columns={"artist_id_x":"artist_id"})

In [13]:
desnormalizadafinal=pd.merge(desnormalizada, datos3, on="artist_id")

In [14]:
desnormalizadafinal.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 35574 entries, 0 to 35573
Data columns (total 33 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   artist_id         35574 non-null  object
 1   album_id          35574 non-null  object
 2   track_id          35574 non-null  object
 3   track_sp_id       35574 non-null  object
 4   track name        35574 non-null  object
 5   number            35574 non-null  int64
 6   disc_number       35574 non-null  int64
 7   popularity_x      35186 non-null  float64
 8   preview_url       23218 non-null  object
 9   danceability      35567 non-null  float64
 10  energy            35567 non-null  float64
 11  key               35567 non-null  float64
 12  loudness          35567 non-null  float64
 13  mode              35567 non-null  float64
 14  speechiness       35567 non-null  float64
 15  acousticness      35567 non-null  float64
 16  instrumentalness  35567 non-null  float64
 17  liveness          35567 non-null  float64
 18  valence           35567 non-null  float64
 19  tempo             35567 non-null  float64
 20  duration_ms       35567 non-null  float64
 21  time_signature    35567 non-null  float64
 22  artist_id_y       35574 non-null  object
 23  album_sp_id       35574 non-null  object
 24  name_x            35574 non-null  object
 25  popularity_y      35574 non-null  int64
 26  release_year      35574 non-null  int64
 27  total_tracks      35574 non-null  int64
 28  artist_sp_id      35574 non-null  object
 29  name_y            35574 non-null  object
 30  popularity        35574 non-null  int64
 31  followers         35574 non-null  int64
 32  total_albums      35574 non-null  int64
dtypes: float64(14), int64(8), object(11)
memory usage: 9.2+ MB

In [15]:
desnormalizadafinal.describe()

             number   disc_number  ...     followers  total_albums
count  35574.000000  35574.000000  ...  3.557400e+04  35574.000000
mean       8.767386      1.154973  ...  7.217283e+06    175.300275
std        6.179290      0.485318  ...  1.182933e+07    199.087681
min        1.000000      1.000000  ...  3.321900e+04      2.000000
25%        4.000000      1.000000  ...  8.339150e+05     30.000000
50%        8.000000      1.000000  ...  2.377897e+06     66.000000
75%       12.000000      1.000000  ...  6.816908e+06    505.000000
max       50.000000      6.000000  ...  8.703106e+07    505.000000

[8 rows x 22 columns]

In [16]:
desnormalizadafinal.head(3)

                                 artist_id  ... total_albums
0  ar-e15c4eb7-7cbf-40e3-9575-fe14e8273177  ...           13
1  ar-e15c4eb7-7cbf-40e3-9575-fe14e8273177  ...           13
2  ar-e15c4eb7-7cbf-40e3-9575-fe14e8273177  ...           13

[3 rows x 33 columns]

In [17]:
desnormalizadafinal["popularity_x"].describe()

count    35186.000000
mean        19.030609
std         18.087619
min          0.000000
25%          2.000000
50%         16.000000
75%         31.000000
max         96.000000
Name: popularity_x, dtype: float64

In [18]:
 # Ahora, como pide el ejercicio, calculamos el nmero de casos NaN en la columna de popularity_X
 # usamos para ello el mtodo isnull y nos dice que hay 388 NaN

In [19]:
print(desnormalizadafinal["popularity_x"].isnull().sum())

388

In [20]:
# sustituimos los NaN por la media. En este caso concreto la media ser la misma porque para calcularla no cuenta
# con los NaN, de forma que es como si aadiramos valores adicionales que al tener el valor de la media la mantienen
# de haber sustituido los valores 0, la nueva media sera superior.

In [21]:
desnormalizadafinal["popularity_x"]=desnormalizadafinal["popularity_x"].fillna(19.030609)

In [22]:
#la suma anterior ahora da 0

In [23]:
print(desnormalizadafinal["popularity_x"].isnull().sum())

0

In [ ]:
# ahora vamos a poner en mayscula la primera letra de cada palabra del nombre de artista, como pide el ejercicio

In [29]:
desnormalizadafinal["name_y"]=desnormalizadafinal["name_y"].str.title()

In [30]:
desnormalizadafinal.sample(20)

                                     artist_id  ... total_albums
2726   ar-5cc8f7b7-52d5-475e-863c-ac7083103dcb  ...           76
34619  ar-62f1e91a-49ef-4ff9-b4dd-9b06407ee9ed  ...          505
34378  ar-62f1e91a-49ef-4ff9-b4dd-9b06407ee9ed  ...          505
26334  ar-0223a27d-1e3e-4172-ae4c-d7f22c8e509d  ...           35
3312   ar-5cc8f7b7-52d5-475e-863c-ac7083103dcb  ...           76
30969  ar-62f1e91a-49ef-4ff9-b4dd-9b06407ee9ed  ...          505
16837  ar-98472849-63b4-43a2-96c8-e15735429bb6  ...            9
34801  ar-62f1e91a-49ef-4ff9-b4dd-9b06407ee9ed  ...          505
22891  ar-8f137da0-9ada-45c0-b378-859c1fbe95c8  ...          172
34182  ar-62f1e91a-49ef-4ff9-b4dd-9b06407ee9ed  ...          505
2519   ar-5cc8f7b7-52d5-475e-863c-ac7083103dcb  ...           76
20288  ar-8f137da0-9ada-45c0-b378-859c1fbe95c8  ...          172
7353   ar-bcd41cc4-364c-483c-833f-d45fcfeff971  ...          117
29680  ar-62f1e91a-49ef-4ff9-b4dd-9b06407ee9ed  ...          505
917    ar-2f1b41fc-f669-4f05-b4b2-0e696263d1a3  ...           36
23152  ar-8f137da0-9ada-45c0-b378-859c1fbe95c8  ...          172
30056  ar-62f1e91a-49ef-4ff9-b4dd-9b06407ee9ed  ...          505
30258  ar-62f1e91a-49ef-4ff9-b4dd-9b06407ee9ed  ...          505
5181   ar-18bd522c-b842-47d5-8253-bcd75b128092  ...           10
34683  ar-62f1e91a-49ef-4ff9-b4dd-9b06407ee9ed  ...          505

[20 rows x 33 columns]

In [ ]:
# vemos en el muestreo de 20 casos que ha funcionado

In [ ]:
#Queda finalizada la tarea 1