<a href="https://colab.research.google.com/github/ricardocarreras/Bootcamp_DataScience_student/blob/master/tweets_tesla_procesados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [92]:
import datetime 
import numpy as np
import matplotlib.pyplot as plt
from pandas.plotting import scatter_matrix
import statsmodels.api as sm
from statsmodels.tsa.api import ExponentialSmoothing, SimpleExpSmoothing
import pandas as pd

In [93]:
import tweepy

In [113]:
tweetsT=pd.read_csv("/content/tesla_tweets_eng.csv")

In [116]:
tfinal=tweetsT.drop(columns=["id", "author_id", "author", "entities", "referenced_tweets", "media", "geo", "in_reply_to_user_id"])

In [117]:
tfinal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 153939 entries, 0 to 153938
Data columns (total 3 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   text        153939 non-null  object
 1   created_at  153939 non-null  object
 2   lang        153939 non-null  object
dtypes: object(3)
memory usage: 3.5+ MB

In [118]:
tfinal.head()

,text,created_at,lang
0,@scrowder ELON MUSK IS A LIABILITY TO HIS INVE...,2022-06-15T23:25:20.000Z,en
1,@elonmusk @TheTexanNews @MayraFlores2022 Dumpe...,2022-06-15T23:12:04.000Z,en
2,Tesla becomes most valuable automaker in lates...,2022-06-15T23:08:47.000Z,en
3,@elonmusk @teslaownersSV Use your 100+ million...,2022-06-15T22:39:42.000Z,en
4,https://t.co/SHqdpbP3PY : 167dbf5b-8bac-41a4-8...,2022-06-15T22:25:43.000Z,en

In [119]:
tfinal["created_at"] = pd.to_datetime(tfinal["created_at"])
tfinal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 153939 entries, 0 to 153938
Data columns (total 3 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   text        153939 non-null  object
 1   created_at  153939 non-null  datetime64[ns, UTC]
 2   lang        153939 non-null  object
dtypes: datetime64[ns, UTC](1), object(2)
memory usage: 3.5+ MB

In [120]:
import matplotlib.pyplot as plt

In [121]:
from textblob import TextBlob

In [122]:
plt.style.use("fivethirtyeight")

In [71]:
API_Key="TpOaJ2x2ZlK85Yc8nWxuj5G3c"
API_Key_Secret="bERVKBantrLO1qF8MJkAgrxeHd3NL3bHEReN8lz9KkvtYooIcO"
Access_Token="80347254-Mb585QCTiQu0WlylC7QsoXDGeY2uUKDYqPormSgcI"
Access_Token_Secret="56qrJX96Uaw8JaX5xRy4tlfPN7vipDxs3r3JDjYsr55no"
Bearer_Token="AAAAAAAAAAAAAAAAAAAAADz5ZwEAAAAA0AUj%2FHHhetSvet71ZMQhAPVJkDA%3DAgSbPsBdtPMjrdeTMiaiPcQCOBafQBkTRHH4ZkMEHnmS9QlI7v"

In [74]:
authenticate=tweepy.OAuthHandler(API_Key, API_Key_Secret)

In [75]:
import matplotlib.pyplot as plt

In [123]:
from textblob import TextBlob

In [124]:
plt.style.use("fivethirtyeight")

In [78]:
authenticate.set_access_token(Access_Token, Access_Token_Secret)

In [125]:
import time

In [126]:
def obtenerPolaridad(twt):
    return TextBlob(twt).sentiment.polarity

In [127]:
#a√±adimos columna con la polaridad


tfinal["Polaridad"]=tfinal["text"].apply(obtenerPolaridad)

In [133]:
tfinal.head(20)

,text,created_at,lang,Polaridad
0,@scrowder ELON MUSK IS A LIABILITY TO HIS INVE...,2022-06-15 23:25:20+00:00,en,0.250000
1,@elonmusk @TheTexanNews @MayraFlores2022 Dumpe...,2022-06-15 23:12:04+00:00,en,0.160119
2,Tesla becomes most valuable automaker in lates...,2022-06-15 23:08:47+00:00,en,0.500000
3,@elonmusk @teslaownersSV Use your 100+ million...,2022-06-15 22:39:42+00:00,en,0.300000
4,https://t.co/SHqdpbP3PY : 167dbf5b-8bac-41a4-8...,2022-06-15 22:25:43+00:00,en,0.000000
5,https://t.co/SHqdpbP3PY : bdc0b577-13f5-46b6-b...,2022-06-15 21:38:01+00:00,en,0.000000
6,I love this guy. I am so happy to hear that my...,2022-06-15 21:34:18+00:00,en,0.437500
7,"@SoldNever @GerberKawasaki @elonmusk Sure, but...",2022-06-15 20:25:21+00:00,en,0.316667
8,@GerberKawasaki @elonmusk Would you buy 25 tes...,2022-06-15 20:11:58+00:00,en,0.000000
9,"@Independent Elon really is naive, I'm glad I ...",2022-06-15 20:08:24+00:00,en,0.066667
10,https://t.co/SHqdpbxsro : 8ab393a4-7d88-4856-b...,2022-06-15 19:36:13+00:00,en,0.000000
11,@StanphylCap Who needs a new car when you can ...,2022-06-15 19:23:42+00:00,en,0.136364
12,Just sold the 100 TESLA shares I bought last w...,2022-06-15 18:50:49+00:00,en,0.087500
13,"@garyblack00 Gary, if you're right, do we have...",2022-06-15 18:47:10+00:00,en,0.028571
14,https://t.co/SHqdpbP3PY : c56bdec2-0dbe-466c-b...,2022-06-15 18:23:18+00:00,en,0.000000
15,@elonmusk Go back to work man. Tesla shares lo...,2022-06-15 18:13:11+00:00,en,-0.500000
16,"@business Um, ok\n\nTesla like so many other t...",2022-06-15 17:39:09+00:00,en,0.235000
17,Tesla Shares tumble dramatically as the LGTBQ2...,2022-06-15 17:31:22+00:00,en,0.000000
18,@elonmusk @BillyM2k Never mind inverse Cramer....,2022-06-15 17:22:21+00:00,en,0.000000
19,https://t.co/SHqdpbP3PY : f1bad7fe-1167-41ce-a...,2022-06-15 17:21:47+00:00,en,0.000000

In [132]:
tfinal["Polaridad"].describe()

count    153939.000000
mean          0.066984
std           0.226517
min          -1.000000
25%           0.000000
50%           0.000000
75%           0.160000
max           1.000000
Name: Polaridad, dtype: float64

In [134]:
df_pordia=tfinal.groupby(by=tfinal["created_at"].dt.date).mean()

In [137]:
df_pordia.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2784 entries, 2014-01-02 to 2022-06-15
Data columns (total 1 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Polaridad  2784 non-null   float64
dtypes: float64(1)
memory usage: 43.5+ KB

In [136]:
df_pordia.to_csv("datospolaridadteslatwitter.csv")